.chamada {
    padding-top: 2.5rem;

    margin-bottom: 2.5rem;

    background-image: url(../img/splash-chamada.svg);
    background-position: top -4rem right;
    background-repeat: no-repeat;

    position: relative;
}

.chamada__texto {
    width: 12.5rem;

    margin-bottom: 1.55rem;
}

.chamada__imagem {
    position: absolute;
    top: 3.25rem;
    right: 0;
}

.chamada__imagem--desktop {
    display: none;
}

.chamada__splash--desktop {
    display: none;
}

.chamada__formulario {
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 1044px) {
    .chamada {
        width: 100vw;
        padding-left: 22.5rem;
        padding-top: 9.375rem;
        padding-bottom: 14.25rem;
        background-image: none;
    }

    .chamada__imagem {
        display: none;
    }

    .chamada__imagem--desktop {
        display: block;
        width: 787px;
        position: absolute;
        top: -8rem;
        right: 13rem;
        z-index: -1;
    }

    .chamada__splash--desktop {
        display: block;
        position: absolute;
        top: 0rem;
        right: 0rem;
        z-index: -2;
    }

    .chamada__formulario {
        display: flex;
        width: 36.5625rem;
    }

    .chamada .titulo--destaque, .chamada .chamada__texto {
        width: 30.0625rem;
    }
}