.ofertas {
    padding-bottom: 3.9rem;
}

@media screen and (min-width: 1044px) {
    .produtos {
        width: 75rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .produtos .produto {
        margin-bottom: 0;
    }
}