.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;

    width: 100%;

    padding-top: .75rem;
    padding-bottom: .75rem;
}

.cabecalho__logo {
    width: 11.125rem;
}

.cabecalho__carrinho {
    width: 1.75rem;
}

.cabecalho-menu{
    display: none;
}

@media screen and (min-width: 1044px) {
    .cabecalho {
        max-width: 1203px;
        align-items: center;
    }

    .cabecalho__carrinho {
        display: none;
    }

    .cabecalho-menu {
        display: flex;
        color: var(--preto);
        line-height: 1.2188rem;
    }

    .cabecalho-menu__item:nth-child(-n+4):after{
        content: '/';
        margin-left: .75rem;
        margin-right: .75rem;
    }



}